     /* Kyle Connall
     CPSC 333 Web Dev
     Homework 2 CSS
     9/25/25
     CSS External
      */
     
     body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        width: 100%;   
        height: 100%; 
    }


    .header {
        background:linear-gradient(#98b0e8, #c0e1f2);
        flex: 0 0 auto; 
        border: 1px solid black;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        align-items: center;      
        justify-content: flex-start; 
        padding: 10px 20px;
        gap: 50px; 
    }

    #flex-container {
        display: flex;
        flex: 1;  
    }

    .intro {
        background:linear-gradient(#98b0e8,#c0e1f2);
        flex: 0 0 25%;
        border: 1px solid black;
    }

    .Article {
        background:linear-gradient(#c0e1f2,#98b0e8);
        flex: 1; 
        border: 1px solid black;
    }
    #Mainimg{
        float: center; 
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 50;
        width: 150px;
        height: 150px;
        object-fit: cover; 
        border-radius: 50%;
        object-position: 50% 20%;
    }
    #Intrests {
        margin: 30px auto;
        padding: 20px;
        border-radius: 20px;
        background: linear-gradient(#84fab0, #8fd3f4);
        box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif;
        color: #222;
        border-left: 4px solid #444;
    }
    #Career{
        margin: 30px auto;
        padding: 20px;
        border-radius: 20px;
        background: linear-gradient(#84fab0, #8fd3f4);
        box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif; 
        color: #222;
        border-left: 4px solid #444;
    }
    #Education{
        margin: 30px auto;
        padding: 20px;
        border-radius: 20px;
        background: linear-gradient(#84fab0, #8fd3f4);
        box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif; 
        color: #222;
        border-left: 4px solid #444;
    }
    #Qualifications {
        margin: 30px auto;
        padding: 20px;
        border-radius: 20px;
        background: linear-gradient(135deg, #84fab0, #8fd3f4);
        box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif; 
        color: #222;
        border-left: 4px solid #444;
    }
    #Introduction {
        max-width: 400px;
        margin: 30px auto;
        padding: 20px;
        border-radius: 20px;
        background: linear-gradient(135deg, #84fab0, #8fd3f4);
        box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif;
        color: #222;
    }
    
    .contact-card {
        margin: 30px auto;
        padding: 20px;
        border-radius: 20px;
        background: linear-gradient(135deg, #84fab0, #8fd3f4);
        box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif;
    }

    /* EXTRA CREDIT special effect */
    .contact-card:hover {
        transform: translateY(-9px) rotate(-14deg);
    }

    .contact-card p {
        margin: 10px 0;
        padding: 10px;
        border-left: 4px solid #444;
        background: rgba(255,255,255,0.6);
        border-radius: 10px;
    }
    #skills{
       margin: 30px auto;
        padding: 20px;
        border-radius: 20px;
        background: linear-gradient(#84fab0, #8fd3f4);
        box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
        font-family: 'Comic Sans MS', cursive, sans-serif; 
        color: #222;
        border-left: 4px solid #444;
    }

    table{
       margin: 10px 0;
        padding: 10px;
        border-left: 4px solid #444;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 10px; 
    }

    th{
        padding: 15px;
    }
    td{
        padding: 15px;
    }
    ol{
        margin: 10px 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 4px solid #444;
        background: rgba(255,255,255,0.6);
        border-radius: 10px; 
    }
    #skillList{
        margin: 10px 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 4px solid #444;
        background: rgba(255,255,255,0.6);
        border-radius: 10px; 
    }

    .row-1, .row-3{
        background: linear-gradient(rgb(121, 185, 207),rgb(61, 228, 186))
    }
    .row-2{
        background: linear-gradient(rgb(190, 230, 244),rgb(76, 153, 147))
    }
    .hobby-list {
        display: flex;
        flex-direction: row;  
        gap: 20px;            
        padding: 10px;
    }

    .hobby-list li {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    img{
        border-radius: 20%;
    }

    #nav_head{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 20px;
        margin-left: auto;
    }

    #nav_head li{
        display: flex;
        align-items: left;
        text-align: left;
    }
    .header {
        display: flex;
        align-items: center;      
        justify-content: flex-start; 
        padding: 10px 20px;
        background-color: #f4f4f4;
        gap: 50px; 
    }

    .logo{
        margin-left: auto;
    }
    

    
